* {
  margin: 0;
  padding: 0;
}
section {
  position: relative;
  height: 100vh;
  background: #1c3431;
  display: grid;
}
.box {
  position: relative;
  width: 200px;
  height: 200px;
  background: #ff005c;
  align-self: center;
  justify-self: center;
}
